<link rel="stylesheet" href="css/estilologin.css">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="tituloBarraNav">SICOTER</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/logout" class="linkMenu">Regresar</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 class="titulo">Control de Camara Termica</h1>
        </div>
    </div>

    <center>
        <div class="panel divPanelRegistro">
            <div class="panel-heading">
                <img class="img-circle img-responsive imgSena" src="img/simboloSENA.png">
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group-lg">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                    </div>
                    <br>
                    <div class="form-group-lg">
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
                    </div>
                    <br>
                    <div class="form-group-lg">
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo">
                    </div>
                    <br>
                    <div class="form-group-lg">
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre Usuario">
                    </div>
                    <br>
                    <div class="form-group-lg">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <br>
                    <a href="#!/login"><button type="submit" class="btn btn-block btn-lg btn-success">Registrar</button></a>
                    <br>
                    <p>¿Ya tienes una cuenta?<a href="#!/login">Inicia Session</a><p>
                </form>
            </div>
        </div>
    </center>
</div>

<div class="row divFooterRegistro">
    <center>
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-sm-3 col-xs-6">
            <img class="imgFooter1 img-responsive" src="img/logoSena.png">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <img class="imgFooter2 img-responsive" src="img/sennova.png">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" style="padding-left: 0px; padding-right: 0px; background: white;">
            <img class="imgFooter3 img-responsive" src="img/Tecnoparque.png">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" style="background: white">
            <img class="imgFooter4 img-responsive" src="img/LogoADSI.png">
        </div>
    </center>
</div>