<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="tituloBarraNav">SICOTER</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/moduloInteractuar">Regresar</a></li>
                <li class="dropdown">
                    <a href="#!/logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cerrar Sesion</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container container-fluid">
    <div class="col-lg-3 divs">
        <br>
        <br>
        <a href="#!/sistemaControl"><button class=" btn btn-primary btn-block ">Sistema de control</button></a>
        <a href="#!/valvula"><button class=" btn btn-primary btn-block ">Valvula</button></a>
        <a href="#!/extractores"><button class=" btn btn-primary btn-block ">Extractores</button></a>
    </div>
    <div class="col-lg-8 divs1">
        <div class="nuevosusu">
            <center><h1>Sistema de Usuarios</h1></center>
            <br>
            <img  src="img/nuevousuario2.png" class="img-circle nuevousuario" data-toggle="modal" data-target="#nuevoUsuario">Agregar Nuevo Usuario
            <br>
            <!-- Alerta de editado -->
            <div class=" alert alert-success" ng-show="true">
                <center>Usuario Editado Exitoso</center>
            </div>
            <!-- Modal editar -->
            <div class=" alert alert-success" ng-show="false">
                <center>Usuario Editado Exitoso</center>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Alias del Usuario</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol del Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in usuarios">
                        <td>{{data.usu_alias}}</td>
                        <td>{{data.usu_cedula}}</td>
                        <td>{{data.usu_nombre}}</td>
                        <td>{{data.usu_apellido}}</td>
                        <td>{{data.usu_correo}}</td>
                        <td>{{data.rol_id}}</td>
                        <td><image src="img/delete.png" data-toggle="modal" data-target="#myModal2"/>...<image src="img/edit.png" data-toggle="modal" data-target="#myModal"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal nuevo usuario-->
<div class="modal fade bs-example-modal-sm" id="nuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class=" modal-dialog modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submit()">
                    <div>
                        <input ng-model="dataRegistrarUsuario.alias" type="text" class="form-control" id="aliasusuario" name="aliasusuario" placeholder="Alias del Usuario">
                    </div>
                    <br>
                    <div >
                        <div class="alert alert-danger" ng-show="false">la cedula esta repetida</div>
                        <input ng-model="dataRegistrarUsuario.cedula" type="number" class="form-control" id="cedula" name="cedula" placeholder="Cedula">
                    </div>
                    <br>
                    <div>
                        <input ng-model="dataRegistrarUsuario.nombre" type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres">
                    </div>
                    <br>
                    <div>
                        <input ng-model="dataRegistrarUsuario.apellido" type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellidos">
                    </div>
                    <br>
                    <div>
                        <input ng-model="dataRegistrarUsuario.contrasena" type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                    </div>
                    <br>
                    <div>
                        <input ng-model="dataRegistrarUsuario.repetircontra" type="password" class="form-control" id="repetircontraseña" name="repetircontraseña" placeholder="Repetir Contraseña">
                    </div>
                    <br>
                    <!-- Single button -->
                    <SELECT ng-model="dataRegistrarUsuario.rolid" class="form-control input-sm" aria-label="..."> 
                        <OPTION value="1">Administrador</OPTION>
                        <OPTION value="2"> Invitado</OPTION> 
                    </SELECT> 
                    <div>
                        <input ng-model="dataRegistrarUsuario.correo" type="text" class="form-control" id="correo" name="correo" placeholder="correo">
                    </div>
                    <br>
                    <button type="submit" class="glyphicon glyphicon-floppy-saved">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar -->
<!--<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-id-card-o"></i>                            
                        </span>
                        <input type="text" class="form-control" aria-label="..." readonly placeholder="Cedula">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at"></i>                            
                        </span>
                        <input type="text" class="form-control" aria-label="..."  placeholder="Alias">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i>                            
                        </span>
                        <input type="text" class="form-control" aria-label="..."  placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i>                            
                        </span>
                        <input type="text" class="form-control" aria-label="..."  placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i>                            
                        </span>
                        <input class="form-control" placeholder="Contraseña" type="password" value="" id="example-password-input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i>                            
                        </span>
                        <input class="form-control" placeholder="Repetir Contraseña" type="password" value="" id="example-password-input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"> <i class="fa fa-users"></i>
                        </span>
                        <select class="form-control input-sm" aria-label="...">
                            <option>Admin</option>
                            <option>Invitado</option>
                        </select>
                    </div>
                </div>



            </div>
            <div class="modal-footer center-block" style="text-align: center">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>

            </div>
        </div>
    </div>
</div>
 Modal Eliminar 
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center> <h3>Desea Eliminar El Usuario:</h3> </center>
            </div>
            <center>
                <div class="modal-footer center-block" style="text-align: center">
                    <button type="button" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-primary">Cancelar</button>

                </div>
            </center>
        </div>
    </div>
</div>-->
