<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="tituloBarraNav">SICOTER</h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/moduloInteractuar">Regresar</a></li>
                <li class="dropdown">
                    <a href="#!/login" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cerrar Sesion</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container container-fluid">


    <div class="col-lg-3 divs">
        <br>
        <br>
        <a href="#!/sistemaControl"><button class=" btn btn-primary btn-block ">Sistema de control</button></a>
        <a href="#!/valvula"><button class=" btn btn-primary btn-block ">Valvula</button></a>
        <a href="#!/extractores"><button class=" btn btn-primary btn-block ">Extractores</button></a>
    </div>
    <div class="col-lg-8 divs1">
        <div class="titulovalext">
            <h1>Encender Valvula!</h1>
        </div>
        <div class="valvula">
            <img class="valve" src="img/valve.png">
        </div>
        <div class="switchh">
            <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
            </label>
        </div>
    </div>
</div>
