.parrafo{
    text-align: center;
    font-weight: bold;
    margin: 40px;
}
.panel-Modulo{
    border-color: #286090;
}
.headerPanel{
    margin-bottom: 0px;
}
.footerPanel{
    padding: 10px;
    border-color: #286090;
}
.tituloFooter{
    font-size: 20px;
}
.iconoFlecha{
    font-size: 30px;
}
